@{
    ViewData["Title"] = "Thank You!";
}
<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Thank You!</h4>
        <p>Your message has been sent successfully. We will get back to you shortly.</p>
        <hr>
        <p class="mb-0">If you have any further questions, feel free to <a asp-controller="Home" asp-action="Index">contact us again</a>.</p>
    </div>
</div>